body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
    background-color: #276749;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.modal-title {
    color: #007bff;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}